  p {
    color: red;
    }
    
    .someClass {
      color:blue;
    }
    
    #someId {
      color:mistyrose; !important;
    }
    
    .anotherClass{
      color:blanchedalmond;
    }
    
    span {
      color:green;
      font-size:12px;
    }